<!-- MAIN HOMEPAGE -->

<form method="POST" action='/login'>
	<input name="email" placeholder="Your email" type="text">
	<input name="password" placeholder="Your password" type="password">
	<input type="submit" value="Log in">
</form>

<form method="POST" action='/login'> 
	<input type="hidden" name="_method" value="DELETE">
	<input type="submit" value="Logout" name="logout">
</form>

<a href="/articles/new">Create new article</a>