<!-- creating new user -->
<div class="center">
<h1>NEW USER</h1>
<form method="post" action="/new_user">
		<br>
		<label>First Name</label>
		<br>
		<input class="others" type="text" name="fname" >
		<br>
		<label>Last Name</label>
		<br>
		<input class="others" type="text" name="lname">
		<br>
		<label>Email</label>
		<br>
		<input class="others" type="text" name="email">
		<br>
		<label>Password</label>
		<br>
		<input class="others" type="password" name="password1">		
		<br>
		<label>Retype Password</label>
		<br>
		<input class="others" type="password" name="password2">		
		<br>
		<label>Bio</label>
		<br>
		<textarea name="bio"></textarea>
		<br>
		<input class="button" type="submit" value="Create an account">

</form>

</div>

<div class="clearrow"></div>