<!-- WHEN USER CANNOT SEE PAGE -->
<div class="center">
	<h1>Oops</h1>
	<br>
	<h3 class="margintop">Something went wrong:</h3>
	<img src="/images/not-allowed.gif" alt="u are in the wrong place">
	<h2>You cannot create articles without being a user.
	<br>
	<br>
	or you don't have access to edit other people's profiles.</h2>

</div>
<div class="clearrow"></div>